/*** HEADER & FOOTER ***/


#mainContain { padding-bottom: 20px; }

/*** NAV ***/
#navContain, #nav {
  height: 2.75em;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
/*nav bar + sublists*/
#navContain, #nav ul {
  background-color: #674CCA;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
}
/*nav bar*/
#navContain {
  font-size: 1.6em;
  text-align: center;
  width: 99%;
  z-index: 999;
}
/*nav tabs*/
#nav {
  border: none;
  display: inline-table;
  position: relative;
  top: 0;
  z-index: 9999;
}
/*top nav item*/
#nav li {
  border-top: none;
  border-bottom: none;
  color: #eee;
  display: block;
  height: 100%;
  float: left;
  line-height: 140%;
}
#nav a {
  display: block;
  clear: both;
  padding: 0.6em 30px;
  margin: 0;
  height: 1.55em;
}
.activeTab {
  background-color: #B3A6E4 !important;
  color: #333 !important;
}
#nav a:hover {
  background-color: #8570D5 !important;
  color: white !important;
}

/*sublist*/
#nav ul {
  opacity: 0.75;
  overflow: hidden;
  padding: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  visibility: hidden;
  z-index: 999999;
}
/* make sublist appear */
#nav li:hover > ul { visibility: visible; }

/*sublist item */
#nav ul li {
  float: none;
  position: relative;
}

/*** CONTENT CONTAINERS ***/

#mainContain {
  margin: 0 auto;
  width: 740px;
}

/***PAGE CONTAINERs***/

/*big containers*/
.whiteContain {
  background-color: white;
  margin: 10px 0;
  padding: 5% 10%;
  width: 80%;
  z-index: 99; /*doesn't work*/
}

/*specific content wrappers*/
.squareLink {
  background-color: #ddd;
  color: #674CCA;
  display: inline-block;
  font-size: 1.8em;
  height: 90px;
  line-height: 140%;
  margin: 1%;
  text-align: center;
  vertical-align: middle;
  width: 22.2%;
}
.squareLink:hover {
  background-color: #eee;
  box-shadow: 3px 3px 3px 0 #666 inset;
  -webkit-box-shadow: 3px 3px 3px 0 #666 inset;
  -moz-box-shadow: 3px 3px 3px 0 #666 inset;
}
.squareLink div {
  position: relative;
  top: 49%;
}
.squareLink .oneLine {
  margin-top: -0.7em;
}
.squareLink .twoLines {
  margin-top: -1.4em;
}
.profilePic {
  height: 112px;
  float: left;
  margin: 0 8px 4px 0;
  width: 112px;
}

/***APPS***/
.frontPageRightColumn { float: right; width: 44%; }
.mobileScreenshotLarge { height: 640px; }
.mobileScreenshotSmall { height: 460px; }

.download {
  background-image: url('images/download_button_norm.png');
  border: none;
  color: white !important;
  display: block;
  height: 81px;
  margin: 10px auto 20px;
  padding: 0;
  text-align: center;
  width: 262px;
}
.download:hover { background-image: url('images/download_button_hov.png'); }
.download:active { background-image: url('images/download_button_dep.png'); }
.download div {
  font-size: 2em;
  line-height: 120%;
  padding-top: 14px;
}
hr {
  background-color: #ddd;
  border: 0;
  color: #ddd;
  height: 2px;
  margin: 40px 0;
  width: 100%;
}

/*old person colors*/
.teal { color: #0b9ca7; }
.orange { color: #ff7502; }
.purple { color: #b211c4; }

/***MEDIA QUERIES***/
@media (max-width:750px) {
  #mainContain { width: 99%; }
  #nav a { padding: 0.6em 25px; }
}
@media (max-width:660px) {
  #nav a { padding: 0.6em 20px; }
  .squareLink { margin: 1%; }
}
@media (max-width:590px) {
  #nav a { padding: 0.6em 15px; }
}
@media (max-width:520px) {
  #nav a { padding: 0.6em 13px; }
  .squareLink { font-size: 1.4em; margin: 0.7%; }
}
@media (max-width:488px) {
  #nav a { padding: 0.6em 10px; }
}
@media (max-width:440px) {
  #nav a { padding: 0.6em 5px; }
  h1 { font-size: 3.2em; }
}
@media (max-width:370px) {
  #nav a { padding: 0.6em 2px; }
  h1 { font-size: 3.2em; }
}

/*mobile*/
@media only screen and (max-device-width:720px) {
  body { font-size: 8px; }
  #mainContain { width: 99%; }
  .whiteContain { margin: 6px 0;  }
  p, #mainContain li { font-size: 1.5em; }
  .big { font-size: 1.6em; }
  .emphasis { color: #333; font-size: 1.9em; }
  .small { font-size: 1.5em; }
  .download {
    background-image: url('images/download_button_mobile.png');
    background-repeat: no-repeat;
    height: 90px;
    width: 240px;
  }
  .download:hover { background-image: url('images/download_button_mobile.png'); }
  .download:active { background-image: url('images/download_button_mobile.png'); }
  .download div {
    padding-top: 20px;
    font-size: 2em;
  }
  #oldPerson h2 { font-size: 2.2em; }
  .mobileScreenshotLarge { height: 300px; }
  .mobileScreenshotSmall { height: 215px; }
  .frontPageRightColumn { float: none !important; width: 100%; }
}
@media only screen and (max-device-width:720px) and (orientation:portrait) {
  #navContain { font-size: 2em; }
  #nav a { padding: 0.6em 4px; }
  .squareLink { height: 60px; margin: 0.4%; }
  .emphasis { font-size: 1.6em; }
}
@media only screen and (max-device-width:720px) and (orientation:landscape) {
  #navContain { font-size: 2.1em; }
  .squareLink { height: 60px; }
  .download { font-size: 110%; }
}
